---
# tasks file for vector-role
- name: Get vector distrib
  ansible.builtin.get_url:
    url: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-1.{{ ansible_architecture }}.rpm"
    dest: "vector-{{ vector_version }}.rpm"
- name: Install vector packages
  become: true
  ansible.builtin.yum:
    name:
      - vector-{{ vector_version }}.rpm
  notify: Restart vector service
- name: write using jinja2
  ansible.builtin.template:
     src: vector.yaml.j2
     mode: 0644
     dest: /etc/vector/vector.yaml
     owner: vector
     group: vector